<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="Offpay"
        android:roundIcon="@android:drawable/sym_def_app_icon"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <!-- Launcher Activity: HomeActivity (Vault) -->
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Send Activity -->
        <activity
            android:name=".ui.send.SendActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />

        <!-- Receive Activity -->
        <activity
            android:name=".ui.receive.ReceiveActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />

        <!-- Settled Activity -->
        <activity
            android:name=".ui.settled.SettledActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />

    </application>

</manifest>
